<div
  style={{labelStyle}}
  class="component-tree-item {{if item.view.isComponent "component-tree-item--component"}} {{if (eq pinnedObjectId item.view.objectId)"component-tree-item--selected"}}"
  {{action inspect item.view.objectId}}
>
  {{#if item.hasChildren}}
    {{ui/disclosure-triangle
      class="component-tree-item__expand"
      title="Click to toggle (alt/option click to toggle with children)"
      expanded=item.expanded
      toggle=(action toggleExpanded)
    }}
  {{/if}}

  <code
    class="component-tree-item__tag {{if item.view.isComponent "component-tree-item__bracket"}}"
  >
    {{item.view.name}}
  </code>

  {{#if item.view.isComponent}}
    <button
      class="component-tree-item__action js-scroll-into-view"
      title="Scroll into view"
      {{action scrollToElement item.view.objectId bubbles=false}}
    >
      {{svg-jar
        "eye"
        width="20px"
        height="20px"
      }}
    </button>

    {{#if hasElement}}
      <button
        class="component-tree-item__action js-view-dom-element"
        title="View in Elements panel"
        {{action inspectElement item bubbles=false}}
      >
        {{svg-jar "code-line" width="20px" height="20px"}}
      </button>
    {{else}}
      <button
        title="Tagless components cannot be viewed"
        class="component-tree-item__action disabled"
      >
        {{svg-jar "code-line" width="20px" height="20px"}}
      </button>
    {{/if}}
  {{/if}}
</div>
