<div
  class="component-tree-item {{if @item.isComponent "component-tree-item--component"}} {{if @selected "component-tree-item--selected"}} {{if @highlighted "component-tree-item--highlighted"}}"
  style={{component-indentation @item.hasChildren @item.parentCount}}
  {{on "click" @inspect}}
  {{on "mouseenter" @eventMouseEnter}}
  {{on "mouseleave" @eventMouseLeave}}
>
  {{#if @item.hasChildren}}
    <Ui::DisclosureTriangle
      class="component-tree-item__expand"
      title="Click to toggle (alt/option click to toggle with children)"
      @toggle={{@toggleExpanded}}
      @expanded={{@item.expanded}}
    />
  {{/if}}

  <code
    class="component-tree-item__tag {{if @item.isComponent "component-tree-item__bracket"}} {{if (not @item.hasChildren) "component-tree-item__bracket--self-closing"}}"
  >
    {{#if @item.isComponent}}
      {{classify @item.name}}
    {{else if @item.isOutlet}}
      \{{outlet "{{@item.name}}"}}
    {{else if @item.isEngine}}
      \{{mount "{{@item.name}}"}}
    {{else if @item.isRouteTemplate}}
      {{@item.name}} route
    {{/if}}
  </code>

  {{#if @item.hasBounds}}
    <button
      class="component-tree-item__action js-scroll-into-view"
      title="Scroll into view"
      {{on "click" @scrollIntoView}}
    >
      {{svg-jar
        "eye"
        width="20px"
        height="20px"
      }}
    </button>

    <button
      class="component-tree-item__action js-view-dom-element"
      title="View in Elements panel"
      {{on "click" @viewInElementsPanel}}
    >
      {{svg-jar "code-line" width="20px" height="20px"}}
    </button>
  {{/if}}
</div>
