<div
  style={{@item.style}}
  class="
    component-tree-item
    {{if @item.isComponent "component-tree-item--component"}}
    {{if @item.hasInstance "component-tree-item--has-instance"}}
    {{if @item.isSelected "component-tree-item--selected"}}
    {{if @item.isHighlighted "component-tree-item--highlighted"}}
  "
  {{on "click" @item.toggleInspection}}
  {{on "mouseenter" @item.showPreview}}
  {{on "mouseleave" @item.hidePreview}}
>
  {{#if @item.hasChildren}}
    <Ui::DisclosureTriangle
      class="component-tree-item__expand"
      title="Click to toggle (alt/option click to toggle with children)"
      @toggle={{@item.toggleExpansion}}
      @expanded={{@item.isExpanded}}
    />
  {{/if}}

  <code
    class="component-tree-item__tag {{if @item.isComponent "component-tree-item__bracket"}} {{if (not @item.hasChildren) "component-tree-item__bracket--self-closing"}}"
  >
    {{#if @item.isComponent}}
      {{classify @item.name}}
    {{else if @item.isOutlet}}
      \{{outlet "{{@item.name}}"}}
    {{else if @item.isEngine}}
      \{{mount "{{@item.name}}"}}
    {{else if @item.isRouteTemplate}}
      {{@item.name}} route
    {{/if}}
  </code>

  {{#if @item.hasBounds}}
    <button
      class="component-tree-item__action js-scroll-into-view"
      title="Scroll into view"
      {{on "click" @item.scrollIntoView}}
    >
      {{svg-jar "eye" width="20px" height="20px"}}
    </button>

    <button
      class="component-tree-item__action js-view-dom-element"
      title="View in Elements panel"
      {{on "click" @item.inspectElement}}
    >
      {{svg-jar "code-line" width="20px" height="20px"}}
    </button>
  {{/if}}
</div>
