<div
  class="component-tree-item {{if @item.view.isComponent "component-tree-item--component"}} {{if @selected "component-tree-item--selected"}} {{if @highlighted "component-tree-item--highlighted"}}"
  onmouseenter={{@eventMouseEnter}}
  onmouseleave={{@eventMouseLeave}}
  style={{component-indentation @item.hasChildren @item.parentCount}}
  {{action inspect}}
>
  {{#if @item.hasChildren}}
    {{ui/disclosure-triangle
      class="component-tree-item__expand"
      expanded=@item.expanded
      title="Click to toggle (alt/option click to toggle with children)"
      toggle=(action @toggleExpanded)
    }}
  {{/if}}

  <code
    class="component-tree-item__tag {{if @item.view.isComponent "component-tree-item__bracket"}}"
  >
    {{@item.view.name}}
  </code>

  {{#if @item.view.isComponent}}
    <button
      class="component-tree-item__action js-scroll-into-view"
      title="Scroll into view"
      {{action @scrollToElement bubbles=false}}
    >
      {{svg-jar
        "eye"
        width="20px"
        height="20px"
      }}
    </button>

    {{#if (component-has-element @item.view)}}
      <button
        class="component-tree-item__action js-view-dom-element"
        title="View in Elements panel"
        {{action @viewInElementsPanel bubbles=false}}
      >
        {{svg-jar "code-line" width="20px" height="20px"}}
      </button>
    {{else}}
      <button
        class="component-tree-item__action disabled"
        title="Tagless components cannot be viewed"
      >
        {{svg-jar "code-line" width="20px" height="20px"}}
      </button>
    {{/if}}
  {{/if}}
</div>
