{{#if model.errors.length}}
  <div class="mixin mixin_props_no js-object-inspector-errors">
    <h2 class="mixin__name mixin__name--errors">
      Errors
      <button {{action "traceErrors"}} class="send-to-console send-to-console--chevron-only js-send-errors-to-console">
        {{svg-jar "send-with-chevron" width="6px" height="9px"}}
        Trace in the Console
      </button>
    </h2>
    <div class="mixin__properties">
    {{#each model.errors as |error|}}
      <div class="mixin__error js-object-inspector-error">
        Error while computing: {{error.property}}
      </div>
    {{/each}}
    </div>
  </div>
{{/if}}

{{#each model.mixins as |item|}}
  {{#mixin-detail model=item mixinDetails=this as |mixin|}}
    <div class="mixin {{mixin.model.type}} {{if mixin.isExpanded 'mixin_state_expanded'}} {{if mixin.model.properties.length 'mixin_props_yes' 'mixin_props_no'}} js-object-detail">
      {{#if mixin.model.properties.length}}
        <h2 class="mixin__name js-object-detail-name" {{action "toggleExpanded" target=mixin}}>{{mixin.model.name}}</h2>
      {{else}}
        <h2 class="mixin__name mixin__name--no-props js-object-detail-name">{{mixin.model.name}}</h2>
      {{/if}}
      {{#if mixin.isExpanded}}
        <ul class="mixin__properties">
          {{#each mixin.sortedProperties as |prop|}}
            {{#mixin-property model=prop mixin=mixin as |property|}}
              <li class="{{if property.isOverridden 'mixin__property_state_overridden'}} mixin__property js-object-property">
                <!-- Disclosure Triangle -->
                {{#if property.hasDependentKeys}}
                  <button
                    class="mixin__cp-toggle {{if property.showDependentKeys "mixin__cp-toggle--expanded"}}"
                    {{action "toggleDeps" target=property}}>
                    {{svg-jar "disclosure-triangle"
                      title="Toggle dependent keys"
                      width="9px" height="9px"}}
                  </button>
                {{else}}
                  <span class="pad"></span>
                {{/if}}

                <!-- Property Icon -->
                {{#if property.isService}}
                  <span class="mixin__property-icon-container" title="Service">
                    <span class="mixin__property-icon mixin__property-icon--service"></span>
                  </span>
                {{else if property.isComputedProperty}}
                  <span
                    class="mixin__property-icon-container"
                    title="{{if property.model.code property.model.code 'code not avaliable' }}"
                    {{action "toggleDeps" target=property}}>
                    <span class="mixin__property-icon mixin__property-icon--computed"></span>
                  </span>
                {{else}}
                  <span class="mixin__property-icon-container" title="Property">
                    <span class="mixin__property-icon mixin__property-icon--property"></span>
                  </span>
                {{/if}}

                <!-- Property Name -->
                <span class="mixin__property-name js-object-property-name">
                  {{#if property.isService}}
                    <span
                      title="service"
                      class="js-property-name-service mixin__property--group">
                      {{property.model.name}}
                    </span>
                  {{else}}
                    {{#if property.hasDependentKeys}}
                      <span
                        title="computed"
                        class="js-property-name-computed mixin__property--group">
                        {{property.model.name}}
                      </span>
                    {{else}}
                      {{property.model.name}}
                    {{/if}}
                  {{/if}}
                </span>

                <span class="mixin__property-value-separator">: </span>

                <!-- Property Value -->
                {{#unless property.isEdit}}
                  {{#if (and property.isComputedProperty (not property.isCalculated))}}
                    <button
                      class="mixin__calc-btn js-calculate"
                      title="compute property"
                      {{action "calculate" property.model bubbles=false target=mixin}}>
                      {{svg-jar "calculate" width="16px" height="16px"}}
                    </button>
                  {{else}}
                    <span
                      {{action "valueClick" property.model target=property}}
                      class="{{property.model.value.type}} {{if property.isService "type-service"}} mixin__property-value js-object-property-value">
                      {{property.model.value.inspect}}
                    </span>
                  {{/if}}
                {{else}}
                  {{#unless property.isDate}}
                    {{property-field
                      value=property.txtValue
                      finished-editing="finishedEditing"
                      save-property="saveProperty"
                      propertyComponent=property
                      class="mixin__property-value-txt js-object-property-value-txt"}}
                  {{else}}
                    {{date-property-field
                      allowInput=true
                      date=(readonly property.dateValue)
                      dateFormat="Y-m-d"
                      class="mixin__property-value-txt js-object-property-value-date"
                      onChange=(action "dateSelected" target=property)
                      onClose=(action "finishedEditing" target=property)}}
                  {{/unless}}
                {{/unless}}

               <span class="mixin__property-overridden-by">(Overridden by {{property.model.overridden}})</span>

               <button
                 class="mixin__send-btn send-to-console js-send-to-console-btn"
                 title="Send to console"
                 {{action "sendToConsole" property.model target=mixin}}>
                 {{svg-jar "send-with-text" width="20px" height="10px"}}
               </button>
             </li>
             
              {{#if property.showDependentKeys}}
                <li class="mixin__property-dependency-list">
                  {{svg-jar "dependent-key-connection" width="20px" height="10px"}}
                  <ul>
                    {{#each property.model.dependentKeys as |depKey index|}}
                      <li class="mixin__property-dependency-item">
                        {{svg-jar "dependent-key-bullet" width="9px" height="9px"}}
                        <span class="mixin__property-dependency-name" data-label="object-property-name">
                          {{depKey}}
                        </span>
                      </li>
                    {{/each}}
                  </ul>
                </li>
              {{/if}}
            {{/mixin-property}}
          {{else}}
            <li class="mixin__property">No Properties</li>
          {{/each}}
        </ul>
      {{/if}}
    </div>
  {{/mixin-detail}}
{{/each}}
