{{#if model.errors.length}}
<div class="mixin mixin_props_no js-object-inspector-errors">
  <h2 class="mixin__name mixin__name--errors">
    Errors
    <span {{action "traceErrors"}} class="send-trace-to-console js-send-errors-to-console">
      Trace in the console
    </span>
  </h2>
  <div class="mixin__properties">
  {{#each model.errors as |error|}}
    <div class="mixin__error js-object-inspector-error">
      Error while computing: {{error.property}}
    </div>
  {{/each}}
  </div>
</div>
{{/if}}
{{#each model.mixins as |item|}}
  {{#mixin-detail model=item mixinDetails=this as |mixin|}}
    <div class="mixin {{mixin.model.type}} {{if mixin.isExpanded 'mixin_state_expanded'}} {{if mixin.model.properties.length 'mixin_props_yes' 'mixin_props_no'}} js-object-detail">
      {{#if mixin.model.properties.length}}
        <h2 class="mixin__name js-object-detail-name" {{action "toggleExpanded" target=mixin}}>{{mixin.model.name}}</h2>
      {{else}}
        <h2 class="mixin__name mixin__name--no-props js-object-detail-name">{{mixin.model.name}}</h2>
      {{/if}}
      {{#if mixin.isExpanded}}
        <ul class="mixin__properties">
          {{#each mixin.sortedProperties as |prop|}}
            {{#mixin-property model=prop mixin=mixin as |property|}}
              <li class="{{if property.isOverhidden 'mixin__property_state_overridden'}} mixin__property js-object-property">
                {{#if property.isComputedProperty}}
                  {{#if property.isCalculated}}
                      <div title="{{if property.model.code property.model.code 'code not avaliable' }}" {{action "toggleDeps" target=property}} class="property-icon {{if property.isService 'icon-service' 'icon-computed' }}"></div>
                    {{else}}
                      <button class="mixin__calc-btn js-calculate" {{action "calculate" property.model bubbles=false target=mixin}}><img src="assets/svg/calculate.svg"></button>
                  {{/if}}
                {{else}}
                  <span class="pad"></span>
                {{/if}}
                <span class="mixin__property-name js-object-property-name">
                  {{#if property.isService}}
                      <span title="service" class="mixin__property-name--service mixin__property--group">{{property.model.name}}</span>
                  {{else}}
                    {{#if property.hasDependedKeys}}
                      <span title="computed" class="mixin__property-name--computed mixin__property--group">{{property.model.name}}</span>
                    {{else}}
                      {{property.model.name}}
                    {{/if}}
                  {{/if}}
                </span>
                <span class='mixin__property-value-separator'>: </span>
                {{#unless property.isEdit}}
                  <span  {{action "valueClick" property.model target=property}} class="{{property.model.value.type}} mixin__property-value js-object-property-value">
                    {{property.model.value.inspect}}
                  </span>
                {{else}}
                  {{#unless property.isDate}}
                    {{property-field value=property.txtValue finished-editing="finishedEditing" save-property="saveProperty" propertyComponent=property
                     class="mixin__property-value-txt js-object-property-value-txt"}}
                  {{else}}
                    {{date-property-field value=property.dateValue format="YYYY-MM-DD"
                     class="mixin__property-value-txt js-object-property-value-date" onSelection=(action "dateSelected" target=property) cancel=(action "finishedEditing" target=property)}}
                  {{/unless}}
                {{/unless}}
                <span class='mixin__property-overridden-by'>(Overridden by {{property.model.overridden}})</span>
                <button class="mixin__send-btn send-to-console js-send-to-console-btn" {{action "sendToConsole" property.model target=mixin}}><img src="assets/images/send.png" title="Send to console"></button>
             </li>
             
              {{#if property.showDependedKeys}}
                <li class="mixin__property-dependenciy-list">
                  {{#each property.model.dependentKeys as |depKey index|}}
                    <span class="mixin__property-dependency-item mixin__property-dependency-item--computed">
                      <span class="mixin__property-dependency-name" data-label="object-property-name">{{depKey}}</span>
                    </span>
                  {{/each}}
                </li>
              {{/if}}
              
            {{/mixin-property}}
          {{else}}
            <li class="mixin__property">No Properties</li>
          {{/each}}
        </ul>
      {{/if}}
    </div>
  {{/mixin-detail}}
{{/each}}
