{{sidebar-toggle action="toggleInspector" side="right"
isExpanded=true class="toolbar__icon-button sidebar-toggle--far-left"}}
{{#if model.length}}
  <div class="split__panel__hd">
    <div class="toolbar">
      <button {{action "popStack"}} class="toolbar__icon-button {{if isNested 'enabled' 'disabled'}} js-object-inspector-back">
        <svg width="21" height="21" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
          <path fill="none" d="M0 0h20v20H0z"/>
          <path class="svg-fill" d="M11.5 3.6L4.9 10l6.6 6.4c.4.4 1 .4 1.3 0 .4-.4.4-1 0-1.3l-5.2-5 5.2-5c.4-.4.4-1 0-1.3s-.9-.6-1.3-.2z"/>
        </svg>
      </button>

      <div class="divider" aria-hidden="true"></div>

      <code class="toolbar__title js-object-name">{{model.firstObject.name}}</code>

      <button class="send-to-console js-send-object-to-console-btn" {{action "sendObjectToConsole" model.firstObject}}>
        <img src="assets/images/send.png" title="Send object to console">
      </button>
    </div>

    {{#if trail}}
      <code class="object-trail js-object-trail">{{trail}}</code>
    {{/if}}
  </div>
{{/if}}

<div class="split__panel__bd">
  {{mixin-details model=mixinDetails}}
</div>
