{{#if route.value.controller.exists}}
  <div
    class="list__cell-partial list__cell-partial_clickable js-route-controller"
    {{action inspectController route.value.controller}}
  >
    <span title={{route.value.controller.className}}>{{route.value.controller.className}}</span>
  </div>
  <div class="list__cell-helper">
    {{send-to-console
      action=sendControllerToConsole
      param=route.value.controller.name
    }}
  </div>

{{else}}
  <div class="js-route-controller">
    <span title={{route.value.controller.className}}>{{route.value.controller.className}}</span>
  </div>
{{/if}}