<nav class="nav nav--main">
  <ul>
    <li>
      {{#link-to "component-tree" class="nav__item"}}
        {{svg-jar "nav-components" width="20px" height="20px" class="nav__item-icon"}}
        <span class="nav__item-label">Components</span>
      {{/link-to}}
    </li>
    <li>
      {{#link-to "view-tree" class="nav__item"}}
        {{svg-jar "nav-view-tree" width="20px" height="20px" class="nav__item-icon"}}
        <span class="nav__item-label">View Tree</span>
      {{/link-to}}
    </li>
    <li>
      {{#link-to "route-tree" class="nav__item"}}
        {{svg-jar "nav-route-tree" width="20px" height="20px" class="nav__item-icon"}}
        <span class="nav__item-label">Routes</span>
      {{/link-to}}
    </li>
    <li>
      {{#link-to "data" class="nav__item"}}
        {{svg-jar "nav-data" width="20px" height="20px" class="nav__item-icon"}}
        <span class="nav__item-label">Data</span>
      {{/link-to}}
    </li>
    <li>
      {{#link-to "deprecations" class="nav__item"}}
        {{svg-jar "nav-deprecations" width="20px" height="20px" class="nav__item-icon"}}
        <span class="nav__item-label">Deprecations</span>
        <span class="pill">{{deprecationCount}}</span>
      {{/link-to}}
    </li>
    <li>
      {{#link-to "info" class="nav__item"}}
        {{svg-jar "nav-info" width="20px" height="20px" class="nav__item-icon"}}
        <span class="nav__item-label">Info</span>
      {{/link-to}}
    </li>
  </ul>

  <h1 class="nav__title">Advanced</h1>

  <ul>
    <li>
      {{#link-to "promise-tree" class="nav__item"}}
        {{svg-jar "nav-promises" width="20px" height="20px" class="nav__item-icon"}}
        <span class="nav__item-label">Promises</span>
      {{/link-to}}
    </li>
    <li>
      {{#link-to "container-types" class="nav__item"}}
        {{svg-jar "nav-container" width="20px" height="20px" class="nav__item-icon"}}
        <span class="nav__item-label">Container</span>
      {{/link-to}}
    </li>
    <li>
      {{#link-to "render-tree" class="nav__item"}}
        {{svg-jar
          "nav-render-performance"
          width="20px"
          height="20px"
          class="nav__item-icon"
        }}
        <span class="nav__item-label">Render Performance</span>
      {{/link-to}}
    </li>
  </ul>
</nav>