{{! template-lint-disable no-pointer-down-event-binding }}
<div
  class="drag-handle absolute top-0 bottom-0 cursor-col-resize {{
    if this.isLeft "drag-handle-left"
  }} {{if this.isRight "drag-handle-right"}} {{
    if @faded "drag-handle-faded"
  }}"
  role="button"
  style={{this.style}}
  {{on "mousedown" this.mouseDownHandler}}
>
  <div class="drag-handle-border h-full pointer-events-none"></div>
</div>