<div class="dropdown">
  <select
    class="dropdown__select"
    onchange={{action "selectApp" value="target.value"}}
  >
    {{#each-in this.apps as |id name|}}
      <option
        value={{id}}
        selected={{eq id this.selectedAppId}}
      >
        {{name}}
      </option>
    {{/each-in}}
  </select>
  {{svg-jar "dropdown-arrow" class="dropdown__arrow"}}
</div>
