<div class="split">
  <Ui::DraggableColumn
    @classes="split-panel split-panel--sidebar-2 nav"
    @side="left"
    @width={{@width}}
  >
    <div class="split-panel__bd">
      <h1 class="nav-title">{{@header}}</h1>

      <ul>
        {{#each @sorted as |itemType|}}
          <li class={{this.typeClass}}>
            <LinkTo
              @route={{if (eq @type "model") "records" "container-type"}}
              @model={{escape-url itemType.name}}
              class="nav-item"
            >
              <span class={{concat this.typeClass "-name" " nav-item-label"}}>
                {{itemType.name}}
              </span>

              <span class={{concat this.typeClass "-count" " pill"}}>{{itemType.count}}</span>
            </LinkTo>
          </li>
        {{/each}}
      </ul>
    </div>
  </Ui::DraggableColumn>

  <div class="split-panel">
    <div class="split-panel__bd">
      {{yield}}
    </div>
  </div>
</div>
