<td
  class="list-cell
    {{if this.clickable 'list-cell_clickable'}}
    {{if this.highlight 'list-cell_highlight'}}"
  role="button"
  style={{this.safeStyle}}
  title={{this.title}}
  {{on "click" this.click}}
  ...attributes
>
  {{yield}}
</td>