<div class="toolbar">
  <Ui::ToolbarClearButton @action={{@clearProfiles}} />

  {{#unless @showEmpty}}
    <Ui::ToolbarDivider />
    <Ui::ToolbarReloadButton
      @action={{@refreshPage}}
      class="js-toolbar-page-refresh-btn"
    />
  {{/unless}}

  <Ui::ToolbarDivider />

  <Ui::ToolbarSearchField
    @clear={{fn (mut @searchValue)}}
    @value={{@searchValue}}
    class="js-render-profiles-search"
  />
  {{#if @isHighlightEnabled}}
    <div class="toolbar-checkbox js-hightlight-render">
      <label>
        <Input
          data-test-options-highlight-render
          @type="checkbox"
          @checked={{@shouldHighlightRender}}
          {{on "change" @updateShouldHighlightRender}}
        />
        Highlight render
      </label>
    </div>
  {{/if}}
</div>