<div class="route-cell-objects">
  <span
    class="is-link inline-block"
    title={{@route.value.routeHandler.className}}
    {{on "click" @inspectRoute}}
    data-test-route-handler
  >
    Route
  </span>

  <Ui::SendToConsole
    @action={{@sendRouteHandlerToConsole}}
    @param={{@route.value.routeHandler.name}}
  />

  {{#if @route.value.controller.exists}}
    <span
      class="is-link js-route-controller"
      title={{@route.value.controller.className}}
      {{on "click" @inspectController}}
    >
      Controller
    </span>

    <Ui::SendToConsole
      @action={{@sendControllerToConsole}}
      @param={{@route.value.controller.name}}
    />
  {{/if}}
</div>
