<div class="split split--main">
  {{#draggable-column
    width=navWidth
    classes="split__panel split__panel--sidebar-1"
    setIsDragging=(action "setIsDragging")
  }}
    <div class="split__panel__hd">
      {{iframe-picker}}
    </div>
    <div class="split__panel__bd">
      {{partial "nav"}}
    </div>
    <div class="split__panel__ft">
      <a target="_blank" href="https://github.com/emberjs/ember-inspector/issues">
        Submit an Issue
      </a>
    </div>
  {{/draggable-column}}

  <div class="split__panel">
    <div class="split__panel__hd">
      {{outlet "toolbar"}}
      {{ui/sidebar-toggle
        action="toggleInspector"
        isExpanded=inspectorExpanded
        classNames="toolbar__icon-button"
      }}
    </div>

    {{#main-content class="split__panel__bd"}}
      {{outlet}}
    {{/main-content}}
  </div>
</div>
