{{#each children itemController="routeNode"}}
  <tr>
    <td {{bindAttr class=":table-tree__main-cell isCurrent:table-tree__main-cell_state_current" style="style"}}>
      {{value.name}}
    </td>
    <td class="table-tree__clickable" {{action inspectRoute value.routeHandler.name}}>{{value.routeHandler.className}}</td>
    {{#if value.controller.exists}}
      <td class="table-tree__clickable" {{action inspectController value.controller}}>{{value.controller.className}}</td>
    {{else}}
      <td>{{value.controller.className}}</td>
    {{/if}}
    <td>{{value.template.name}}</td>
    <td class="table-tree__minor">{{value.url}}</td>
  </tr>

  {{partial "route_node"}}
{{/each}}
