{{#each children itemController="promise_node"}}
  <tr {{bind-attr style="nodeStyle"}}>
    <td {{bind-attr style="labelStyle"}} class="table-tree__main-cell">{{label}}</td>
    <td><div class="pill pill_text_clear" {{bind-attr style="style"}}>{{state}}</div></td>
    <td>
      {{#if hasValue}}
        {{#if isValueInspectable}}
          <span class="table-tree__clickable" {{action "inspectValue"}}>{{settledValue.inspect}}</span>
        {{else}}
          {{settledValue.inspect}}
        {{/if}}
        <div class="table-tree__right-helper">
          <button class="send-to-console" {{action "sendValueToConsole" model}} data-label="send-to-console-btn">
            <img src="../images/send.png" title="Send to console">
          </button>
        </div>

      {{else}}
        --
      {{/if}}
    </td>
  </tr>
  {{partial "promise_node"}}
{{/each}}
