{{#each children itemController="routeNode"}}
  <tr data-label="route-node" {{bind-attr class="isCurrent"}}>
    <td {{bind-attr class=":table-tree__main-cell isCurrent:table-tree__main-cell_state_current" style=style }} data-label="route-name">
      {{value.name}}
    </td>
    <td class="table-tree__clickable" {{action inspectRoute value.routeHandler.name}} data-label="route-handler">{{value.routeHandler.className}}</td>
    {{#if value.controller.exists}}
      <td class="table-tree__clickable" {{action inspectController value.controller}} data-label="route-controller">{{value.controller.className}}</td>
    {{else}}
      <td data-label="route-controller">{{value.controller.className}}</td>
    {{/if}}
    <td data-label="route-template">{{value.template.name}}</td>
    <td class="table-tree__minor" data-label="route-url">{{value.url}}</td>
  </tr>

  {{partial "route_node"}}
{{/each}}
