{{#each children itemController="viewTreeItem"}}
  {{#view "treeNodeItem" node=model}}
    <td {{bind-attr class=":table-tree__main-cell isCurrent:table-tree__main-cell_state_current" style=style }} data-label="view-name">
      {{value.name}}
    </td>
    <td {{bind-attr class="hasElement:table-tree__clickable isCurrent:table-tree__main-cell_state_current" style=style }} {{action "inspectElement"}} data-label="view-template">
      {{value.template}}
    </td>
    <td {{action "inspectModel" value.model.objectId}} {{bind-attr class="modelInspectable:table-tree__clickable"}} data-label="view-model">
      {{#if hasModel}}
        {{value.model.name}}
      {{else}}
        --
      {{/if}}
    </td>
    <td {{action "inspect" value.controller.objectId}} {{bind-attr class="hasController:table-tree__clickable"}} data-label="view-controller" >
      {{value.controller.name}}
    </td>
    <td {{action "inspectView"}} {{bind-attr class="hasView:table-tree__clickable"}} data-label="view-class">
      {{#if hasView}}
       {{value.viewClass}}
      {{else}}
        --
      {{/if}}
    </td>

  {{/view}}

  {{partial "view_node"}}
{{/each}}
