{{#each children itemController="viewTreeItem"}}
  {{#view "treeNodeItem" nodeBinding=model}}
    <td {{bindAttr class=":table-tree__main-cell" style=style }} >
      {{value.name}}
    </td>
     <td {{action "inspect" value.objectId}} {{bindAttr class="hasView:table-tree__clickable"}}>
      {{value.viewClass}}
    </td>
    <td {{action "inspect" value.controller.objectId}} {{bindAttr class="hasController:table-tree__clickable"}} >
      {{value.controller.name}}
    </td>
    <td {{action "inspect" value.model.objectId}} {{bindAttr class="hasModel:table-tree__clickable"}}>
      {{value.model.name}}
    </td>

  {{/view}}

  {{partial "view_node"}}
{{/each}}
