{{#each children itemController="viewTreeItem"}}
  {{#view "treeNodeItem" nodeBinding=model}}
    <td {{bindAttr class=":table-tree__main-cell :table-tree__clickable" style=style }} {{action "inspectElement" value.objectId}}>
      {{value.template}}
    </td>
     <td {{action "inspect" value.objectId}} {{bindAttr class="hasView:table-tree__clickable"}}>
      {{value.viewClass}}
      {{#if value.isComponent}}
        (component)
      {{/if}}
    </td>
    <td {{action "inspect" value.model.objectId}} {{bindAttr class="hasModel:table-tree__clickable"}}>
      {{value.model.name}}
    </td>
    <td {{action "inspect" value.controller.objectId}} {{bindAttr class="hasController:table-tree__clickable"}} >
      {{value.controller.name}}
    </td>

  {{/view}}

  {{partial "view_node"}}
{{/each}}
