{{#if emberApplication}}

  {{partial "nav"}}
  <div class="app__dropdown">
    {{render "iframes"}}
  </div>

  <div class="app__main">
    {{#view "mainContent"}}
      {{outlet}}
    {{/view}}
  </div>

  {{#unless inspectorExpanded}}
    <div class="app__toggle-inspector-btn" {{action "toggleInspector"}}>&laquo;</div>
  {{/unless}}

  <div class="app__right-col" {{bind-attr style="view.inspectorStyle"}}>

    {{#if inspectorExpanded}}
      <div class="app__right-col-drag">
        {{drag-handle isDragging=isDragging positionRight=inspectorWidth}}
      </div>

      <div class="app__toggle-inspector-btn" {{action "toggleInspector"}}>&raquo;</div>
    {{/if}}

    <div class="app__inspector-container">
      {{render "mixinStack"}}
    </div>
  </div>


{{else}}
  {{#not-detected description="Ember application"}}
  <li>This is not an Ember application.</li>
  <li>Your application is inside an iframe.</li>
  <li>You are using an old version of Ember (&lt; rc5).</li>
  {{#if isChrome}}
    <li>You are using the file:// protocol (instead of http://), in which case:
      <ul>
        <li>Visit the URL: chrome://extensions.</li>
        <li>Find the Ember Inspector.</li>
        <li>Make sure "Allow access to file URLs" is checked.</li>
      </ul>
    </li>
  {{/if}}
  {{/not-detected}}
{{/if}}
