<div
  class="ember-view app absolute inset-0 z-0 {{if this.active "" "inactive"}}"
  tabindex="1"
  {{on "focusin" (fn this.setActive true)}}
  {{on "focusout" (fn this.setActive false)}}
>
  {{#if this.isEmberApplication}}
    <div class="split">
      <div class="split__panel">
        <div class="split split--main">
          <Ui::DraggableColumn
            @classes="split__panel split__panel--sidebar-1"
            @side="left"
            @width={{this.navWidth}}
          >
            <div class="split__panel__hd">
              <AppPicker/>
            </div>
            <div class="split__panel__bd">
              <SideNav @deprecationCount={{this.deprecationCount}} />
            </div>
            <div class="split__panel__ft">
              <a target="_blank" href="https://github.com/emberjs/ember-inspector/issues">
                Submit an Issue
              </a>
            </div>
          </Ui::DraggableColumn>

          <div class="split__panel">
            <div class="split__panel__hd">
              {{outlet "toolbar"}}
              <button
                class="sidebar-toggle toolbar__icon-button {{if this.inspectorExpanded "flip"}}"
                {{on "click" this.toggleInspector}}
                type="button"
              >
                {{svg-jar "sidebar-toggle" width="16" height="16"}}
              </button>
            </div>

            <MonitorContentHeight class="split__panel__bd">
              {{outlet}}
            </MonitorContentHeight>
          </div>
        </div>
      </div>

      {{#if this.inspectorExpanded}}
        <Ui::DraggableColumn
          @classes="split__panel"
          @side="right"
          @width={{this.inspectorWidth}}
        >
          <ObjectInspector
            @popMixinDetails={{this.popMixinDetails}}
            @model={{this.mixinStack}}
            @mixinDetails={{this.mixinDetails}}
          />
        </Ui::DraggableColumn>
      {{/if}}
    </div>
  {{else}}
    <Ui::ErrorPage @description="Ember application not detected!">
      <ul>
        <li>This is not an Ember application.</li>
        <li>You are using an old version of Ember (&lt; rc5).</li>
        {{#if this.isChrome}}
          <li>
            You are using the file:// protocol (instead of http://), in which case:

            <ul>
              <li>Visit the URL: chrome://extensions.</li>
              <li>Find the Ember Inspector.</li>
              <li>Make sure "Allow access to file URLs" is checked.</li>
            </ul>
          </li>
        {{/if}}
      </ul>
    </Ui::ErrorPage>
  {{/if}}
</div>
