{{#if emberApplication}}

  <div class="app__nav-holder">
    <nav {{bindAttr class=":main-nav view.inactive:main-nav_state_inactive"}}>
      <ul class="main-nav__list">
        <li class="main-nav__item">
          {{#link-to "view_tree"}}
            View Tree
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="19px" height="19px" viewBox="0 0 19 19" enable-background="new 0 0 19 19" xml:space="preserve">
              <path fill="#454545" d="M0,0v19h19V0H0z M6.109,17.445h-4.57V5.297h4.57V17.445z M17.461,17.445H6.83V5.297h10.63v12.148H17.461z M17.461,4.543H1.539V1.506h15.922V4.543z"/>
            </svg>
          {{/link-to}}
        </li>
        <li class="main-nav__item">
          {{#link-to "route_tree"}}
            Routes
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="19px" height="19px" viewBox="0 0 19 19" enable-background="new 0 0 19 19" xml:space="preserve">
              <polygon fill="#454545" points="0.591,17.012 2.36,17.012 6.841,2.086 5.07,2.086   "/>
              <path fill="#454545" d="M18.117,8.495l0.292-1.494h-2.242l0.874-3.507h-1.544l-0.874,3.507h-1.88l0.874-3.507h-1.536l-0.883,3.507 H8.668L8.375,8.495h2.449l-0.616,2.474H7.875l-0.292,1.495h2.252l-0.883,3.515h1.544l0.874-3.515h1.888l-0.883,3.515h1.544 l0.874-3.515h2.53l0.303-1.495h-2.459l0.625-2.474H18.117z M14.249,8.495l-0.617,2.474h-1.888l0.625-2.474H14.249z"/>
            </svg>
          {{/link-to}}
        </li>
        <li class="main-nav__item">
          {{#link-to "data"}}
            Data
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="19px" height="19px" viewBox="0 0 19 19" enable-background="new 0 0 19 19" xml:space="preserve">
              <path d="M9.5,0.001C3.907,0.001,0,1.507,0,3.663v11.675C0,17.494,3.907,19,9.5,19c5.594,0,9.5-1.506,9.5-3.662V3.663 C19,1.507,15.094,0.001,9.5,0.001z M9.5,5.669c-4.768,0-7.81-1.318-7.81-2.007c0-0.689,3.042-2.008,7.81-2.008 c4.769,0,7.81,1.318,7.81,2.008C17.31,4.352,14.269,5.669,9.5,5.669z M17.31,15.338c0,0.689-3.041,2.007-7.81,2.007 c-4.768,0-7.81-1.317-7.81-2.007V5.852C3.39,6.77,6.282,7.324,9.5,7.324c3.217,0,6.108-0.554,7.81-1.472V15.338z"/>
            </svg>
          {{/link-to}}
        </li>
        <li class="main-nav__item">
          {{#link-to "promise_tree"}}
           Promises

          {{/link-to}}
        </li>
      </ul>
    </nav>
  </div>


  <div class="app__main">
    {{outlet}}
  </div>

  {{#unless inspectorExpanded}}
    <div class="app__toggle-inspector-btn" {{action "toggleInspector"}}>&laquo;</div>
  {{/unless}}

  <div class="app__right-col" {{bindAttr style="view.inspectorStyle"}}>

    {{#if inspectorExpanded}}
      <div class="app__right-col-drag">
        {{drag-handle isDragging=isDragging positionRight=inspectorWidth}}
      </div>

      <div class="app__toggle-inspector-btn" {{action "toggleInspector"}}>&raquo;</div>
    {{/if}}

    <div class="app__inspector-container">
      {{render "mixinStack"}}
    </div>
  </div>


{{else}}
  {{#not-detected description="Ember application"}}
  <li>This is not an Ember application.</li>
  <li>Your application is inside an iframe.</li>
  <li>You are using an old version of Ember (&lt; rc5).</li>
  <li>You are using the file:// protocol (instead of http://), in which case:
    <ul>
      <li>Visit the URL: chrome://extensions.</li>
      <li>Find the Ember Inspector.</li>
      <li>Make sure "Allow access to file URLs" is checked.</li>
    </ul>
  </li>
  {{/not-detected}}
{{/if}}
