{{#if emberApplication}}

  <div class="app__nav-holder">
    <nav {{bind-attr class=":main-nav view.inactive:main-nav_state_inactive"}}>
      <ul class="main-nav__list">
        <li class="main-nav__item">
          {{#link-to "view_tree"}}
            View Tree
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="19px" height="19px" viewBox="0 0 19 19" enable-background="new 0 0 19 19" xml:space="preserve">
              <path fill="#454545" d="M0,0v19h19V0H0z M6.109,17.445h-4.57V5.297h4.57V17.445z M17.461,17.445H6.83V5.297h10.63v12.148H17.461z M17.461,4.543H1.539V1.506h15.922V4.543z"/>
            </svg>
          {{/link-to}}
        </li>
        <li class="main-nav__item">
          {{#link-to "route_tree"}}
            Routes
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="19px" height="19px" viewBox="0 0 19 19" enable-background="new 0 0 19 19" xml:space="preserve">
              <polygon fill="#454545" points="0.591,17.012 2.36,17.012 6.841,2.086 5.07,2.086"/>
              <path fill="#454545" d="M18.117,8.495l0.292-1.494h-2.242l0.874-3.507h-1.544l-0.874,3.507h-1.88l0.874-3.507h-1.536l-0.883,3.507 H8.668L8.375,8.495h2.449l-0.616,2.474H7.875l-0.292,1.495h2.252l-0.883,3.515h1.544l0.874-3.515h1.888l-0.883,3.515h1.544 l0.874-3.515h2.53l0.303-1.495h-2.459l0.625-2.474H18.117z M14.249,8.495l-0.617,2.474h-1.888l0.625-2.474H14.249z"/>
            </svg>
          {{/link-to}}
        </li>
        <li class="main-nav__item">
          {{#link-to "data"}}
            Data
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="19px" height="19px" viewBox="0 0 19 19" enable-background="new 0 0 19 19" xml:space="preserve">
              <path d="M9.5,0.001C3.907,0.001,0,1.507,0,3.663v11.675C0,17.494,3.907,19,9.5,19c5.594,0,9.5-1.506,9.5-3.662V3.663 C19,1.507,15.094,0.001,9.5,0.001z M9.5,5.669c-4.768,0-7.81-1.318-7.81-2.007c0-0.689,3.042-2.008,7.81-2.008 c4.769,0,7.81,1.318,7.81,2.008C17.31,4.352,14.269,5.669,9.5,5.669z M17.31,15.338c0,0.689-3.041,2.007-7.81,2.007 c-4.768,0-7.81-1.317-7.81-2.007V5.852C3.39,6.77,6.282,7.324,9.5,7.324c3.217,0,6.108-0.554,7.81-1.472V15.338z"/>
            </svg>
          {{/link-to}}
        </li>
        <li class="main-nav__item">
          {{#link-to "promises"}}
           Promises
           <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="23px" height="23px" viewBox="0 0 23 23" enable-background="new 0 0 23 23" xml:space="preserve">
             <path d="M17.252,10.915c-0.016-0.129-0.068-0.25-0.149-0.352L14.943,7.88l-0.142-5.34 c-0.07-0.558-0.385-1.264-0.933-1.583c-0.394-0.226-0.893-0.327-1.438-0.292c-0.503,0.033-0.774,0.152-1.118,0.367 c-0.065,0.04-0.105,0.101-0.159,0.15c-0.052-0.095-0.097-0.179-0.124-0.226c-0.027-0.048-0.06-0.092-0.098-0.132 c-0.37-0.394-0.765-0.587-1.291-0.626L9.487,0.194L9.295,0.199c-0.353,0.023-0.685,0.1-0.98,0.224 C7.732,0.662,7.372,0.999,7.212,1.455C7.054,1.906,6.97,2.616,7.444,3.477C7.453,3.498,7.463,3.52,7.474,3.54l2.173,4.01 C9.541,7.568,9.434,7.583,9.33,7.616C8.94,7.733,8.596,7.945,8.319,8.226C7.925,7.955,7.457,7.785,6.954,7.739 c-0.29-0.024-0.58-0.005-0.871,0.055c-0.606,0.132-1.13,0.45-1.477,0.897C4.535,8.785,4.473,8.886,4.422,8.992 C3.965,8.905,3.452,8.929,3.057,9.066c-0.4,0.141-0.752,0.395-1.017,0.736c-0.569,0.725-0.6,1.926-0.601,2.06 c0,0.04,0.002,0.08,0.008,0.119l0.973,6.066c0.024,0.148,0.095,0.283,0.202,0.388l1.683,1.638l0.128,2.1 c0.022,0.367,0.327,0.653,0.695,0.653c0.002,0,0.004,0,0.006,0l9.735-0.084c0.382-0.004,0.69-0.315,0.69-0.696v-2.457l1.994-5.618 c0.036-0.102,0.048-0.211,0.035-0.318L17.252,10.915z M8.688,2.849C8.482,2.495,8.429,2.19,8.526,1.915 c0.011-0.032,0.091-0.112,0.323-0.207c0.159-0.067,0.34-0.108,0.516-0.12l0.184-0.001c0.126,0.009,0.198,0.026,0.314,0.135 c0.146,0.266,0.472,0.883,0.628,1.179l-0.12,3.061L8.732,2.939C8.72,2.908,8.705,2.878,8.688,2.849z M14.207,19.239 c-0.027,0.075-0.04,0.153-0.04,0.233v1.886L5.782,21.43l-0.104-1.709c-0.011-0.173-0.085-0.335-0.209-0.456l-1.711-1.665 l-0.926-5.774c0.012-0.293,0.097-0.901,0.304-1.166c0.103-0.133,0.232-0.227,0.378-0.278c0.173-0.06,0.471-0.064,0.702-0.009 c0.107,0.024,0.213,0.074,0.304,0.142c0.216,0.161,0.504,0.182,0.741,0.057c0.237-0.125,0.381-0.377,0.37-0.645 C5.625,9.753,5.653,9.615,5.71,9.541c0.143-0.184,0.386-0.324,0.666-0.386c0.154-0.032,0.312-0.044,0.458-0.03 c0.427,0.04,0.804,0.252,1.033,0.582C8.014,9.919,8.264,10.035,8.523,10C8.78,9.969,8.997,9.798,9.089,9.558 c0.115-0.303,0.343-0.519,0.648-0.611c0.236-0.076,0.502-0.047,0.755,0.051c0.13,0.128,0.289,0.22,0.473,0.22 c0.052,0,0.105-0.006,0.158-0.018c0.305-0.071,0.525-0.337,0.538-0.651l0.222-5.651c0.032-0.07,0.059-0.144,0.066-0.225 c0.018-0.232,0.089-0.435,0.093-0.456c0.202-0.126,0.251-0.148,0.478-0.163c0.277-0.01,0.498,0.021,0.65,0.109 c0.069,0.047,0.217,0.291,0.245,0.491l0.143,5.498c0.004,0.152,0.058,0.299,0.153,0.418l2.183,2.712l0.292,2.381L14.207,19.239z"/>
           </svg>
          {{/link-to}}
        </li>
      </ul>
    </nav>
  </div>


  <div class="app__main">
    {{outlet}}
  </div>

  {{#unless inspectorExpanded}}
    <div class="app__toggle-inspector-btn" {{action "toggleInspector"}}>&laquo;</div>
  {{/unless}}

  <div class="app__right-col" {{bind-attr style="view.inspectorStyle"}}>

    {{#if inspectorExpanded}}
      <div class="app__right-col-drag">
        {{drag-handle isDragging=isDragging positionRight=inspectorWidth}}
      </div>

      <div class="app__toggle-inspector-btn" {{action "toggleInspector"}}>&raquo;</div>
    {{/if}}

    <div class="app__inspector-container">
      {{render "mixinStack"}}
    </div>
  </div>


{{else}}
  {{#not-detected description="Ember application"}}
  <li>This is not an Ember application.</li>
  <li>Your application is inside an iframe.</li>
  <li>You are using an old version of Ember (&lt; rc5).</li>
  <li>You are using the file:// protocol (instead of http://), in which case:
    <ul>
      <li>Visit the URL: chrome://extensions.</li>
      <li>Find the Ember Inspector.</li>
      <li>Make sure "Allow access to file URLs" is checked.</li>
    </ul>
  </li>
  {{/not-detected}}
{{/if}}
