<div class="list__content js-component-tree" style="height: 100%;">
  {{#vertical-collection
    displayedList
    estimateHeight=20
  as |item|
  }}
    <ComponentTreeItem
      @highlighted={{component-parent-selected item pinnedObjectId}}
      @item={{item}}
      @selected={{eq pinnedObjectId item.view.objectId}}
      @eventMouseEnter={{action "previewLayer" item}}
      @eventMouseLeave={{action "hidePreview"}}
      @inspect={{action "inspect" item.view.objectId}}
      @scrollToElement={{action "scrollToElement" item.view.objectId}}
      @toggleExpanded={{action "toggleExpanded" item}}
      @viewInElementsPanel={{action "viewInElementsPanel" item}}
    />
  {{/vertical-collection}}
</div>
