<div class="list__content js-component-tree" style="height: 100%;">
  {{#vertical-collection
    this.displayedList
    estimateHeight=20
    key="view.objectId"
  as |item|
  }}
    <ComponentTreeItem
      @item={{item}}
      @highlighted={{component-parent-selected item this.pinnedObjectId}}
      @selected={{eq item.view.objectId this.pinnedObjectId}}
      @eventMouseEnter={{fn this.showPreviewLayer item}}
      @eventMouseLeave={{this.hidePreviewLayer}}
      @inspect={{fn this.inspect item.view.objectId}}
      @scrollToElement={{fn this.scrollToElement item.view.objectId}}
      @toggleExpanded={{fn this.toggleExpanded item}}
      @viewInElementsPanel={{fn this.viewInElementsPanel item}}
    />
  {{/vertical-collection}}
</div>
