<div class="toolbar">
  <button
    class="{{if inspectingViews "active"}} toolbar__icon-button js-inspect-views"
    {{on "click" this.toggleViewInspection}}
  >
    {{svg-jar
      "inspect"
      width="16px"
      height="17px"
    }}
  </button>

  <Ui::ToolbarDivider />

  <button
    class="toolbar__icon-button"
    title="expand all"
    {{on "click" (fn this.expandOrCollapseAll true)}}
  >
    {{svg-jar
      "chevron-down"
      width="16px"
      height="16px"
    }}
  </button>

  <button
    class="toolbar__icon-button"
    title="collapse all"
    {{on "click" (fn this.expandOrCollapseAll false)}}
  >
    {{svg-jar
      "chevron-right"
      width="16px"
      height="16px"
    }}
  </button>

  <Ui::ToolbarDivider />

  <div class="toolbar__search js-filter-views">
    {{ui/toolbar-search-field value=searchValue}}
  </div>
</div>
