<div class="toolbar">
  <button
    class="{{if this.isInspecting "active"}} toolbar__icon-button"
    {{on "click" this.toggleInspect}}
  >
    {{svg-jar "inspect" width="16px" height="17px"}}
  </button>

  <Ui::ToolbarDivider />

  <button
    class="toolbar__icon-button"
    title="expand all"
    {{on "click" this.expandAll}}
  >
    {{svg-jar "chevron-down" width="16px" height="16px"}}
  </button>

  <button
    class="toolbar__icon-button"
    title="collapse all"
    {{on "click" this.collapseAll}}
  >
    {{svg-jar "chevron-right" width="16px" height="16px"}}
  </button>

  <Ui::ToolbarDivider />

  <Ui::ToolbarSearchField
    @value={{this.query}}
    data-test-filter-views
  />
</div>
