{{#ember-table as |t|}}
  {{t.head columns=columns enableReorder=false}}
  {{#t.body
    rows=rows
  as |b|
  }}
    {{#b.row
      class=(concat "js-container-instance-list-item" (if (mod b.rowMeta.index 2) " striped"))
    as |r|
    }}
      {{#r.cell as |value|}}
        {{#if value.inspectable}}
          <div class="is-link js-instance-name" {{action "inspectInstance" value}}>
            {{value.name}}
          </div>
        {{else}}
          <span class="js-instance-name">{{value.name}}</span>
        {{/if}}
      {{/r.cell}}
    {{/b.row}}
  {{/t.body}}
{{/ember-table}}
