<div class="list-view js-deprecations">

  <div class="ember-list-container">
    {{#view "render-list"}}
      {{#each item in filtered itemController="deprecation-item"}}
        <div class="js-deprecation-item">
        <div class="js-deprecation-row list-tree__item-wrapper row-wrapper">
          <div class="list-tree__item row">

            <div class="cell_type_main cell js-deprecation-main-cell">

              <span {{bind-attr title="message" class="item.expandedClass"}} {{action "toggleExpand"}}  >
                <span class="cell__arrow"></span>
                <span class="pill pill_not-clickable js-deprecation-count">{{item.model.count}}</span>
                <span class="js-deprecation-message">{{item.model.message}}</span>
              </span>
              {{#if item.model.url}}
                <a {{bind-attr href=item.model.url}} class="external-link js-deprecation-url" target="_blank" title="Transition Plan">
                  Transition Plan
                </a>
              {{/if}}
            </div>
          </div>
        </div>
        {{#if item.isExpanded}}
        {{#if item.model.hasSourceMap}}
          {{#each source in item.model.sources itemController="deprecation-source"}}
            <div class="list-tree__item-wrapper row-wrapper js-deprecation-source">
              <div class="list-tree__item row">
                <div class="cell_type_main cell cell_size_larger" style="padding-left:48px">
                  <span class="source">
                  {{#if source.isClickable}}
                    <a class="js-deprecation-source-link" href="#" {{action "openResource" source.model.map}}>{{source.url}}</a>
                  {{else}}
                    <span class="js-deprecation-source-text">{{source.url}}</span>
                  {{/if}}
                  </span>
                </div>
                <div class="cell">
                  &nbsp; &nbsp;
                  <span class="send-trace-to-console js-trace-deprecations-btn" {{action "traceSource" item source}} title="Trace deprecations in console">
                    Trace in the console
                  </span>
                </div>
              </div>
            </div>
          {{/each}}
        {{else}}
          <div class="list-tree__item-wrapper row-wrapper js-deprecation-full-trace">
            <div class="list-tree__item row" >
              <div class="cell_type_main cell cell_clickable" style="padding-left:48px">
                <div class="send-trace-to-console js-full-trace-deprecations-btn" {{action "traceDeprecations" item}} title="Trace deprecations in console">
                  Trace in the console
                </div>
              </div>
            </div>
          </div>
        {{/if}}
        {{/if}}
      </div>
       {{else}}
         <div class="notice js-page-refresh">
           <p>No deprecations have been detected. Try reloading to catch the deprecations that were logged before you opened the inspector.</p>
           <button class="js-page-refresh-btn" {{action "refreshPage"}}>Reload</button>
         </div>
      {{/each}}
    {{/view}}
  </div>
</div>
