<div class="split split--main">
  {{#draggable-column
          width=navWidth
          classNames="split__panel split__panel--sidebar-1"}}
    <div class="split__panel__hd">
      {{render "iframes"}}
    </div>
    <div class="split__panel__bd">
      {{partial "nav"}}
    </div>
  {{/draggable-column}}

  <div class="split__panel">
    <div class="split__panel__hd">
      {{outlet "toolbar"}}
      {{sidebar-toggle action="toggleInspector" side="right"
        isExpanded=inspectorExpanded classNames="toolbar__icon-button"}}
    </div>

    {{#view "mainContent" classNames="split__panel__bd"}}
      {{outlet}}
    {{/view}}
  </div>
</div>
