{{#each mixin in mixins itemController="mixinDetail"}}
<div {{bindAttr class=":mixin mixin.type mixin.isExpanded:mixin_state_expanded mixin.properties.length:mixin_props_yes:mixin_props_no"}} data-label="object-detail" >
  {{#if mixin.properties.length}}
    <h2 class="mixin__name" {{action toggleProperty 'isExpanded' target=mixin}} data-label="object-detail-name">{{mixin.name}}</h2>
  {{else}}
    <h2 class="mixin__name" data-label="object-detail-name">{{mixin.name}}</h2>
  {{/if}}
  {{#if mixin.isExpanded}}
  <ul class="mixin__properties">
    {{#each mixin.properties itemController="mixinProperty"}}
    <li {{bindAttr class="property.overridden:mixin__property_state_overridden :mixin__property"}} data-label="object-property">
      {{#if value.computed}}
        <button {{bindAttr class=":mixin__calc-btn isCalculated:mixin__calc-btn_calculated"}} {{action "calculate" model bubbles=false}} data-label="calculate"><img src="/images/calculate.svg"></button>
      {{else}}
        <span class='pad'></span>
      {{/if}}
      <span class='mixin__property-name' data-label="object-property-name">{{name}}</span><span class='mixin__property-value-separator'>: </span>
      <span  {{action "digDeeper" model}} {{bindAttr class="value.type :mixin__property-value"}} data-label="object-property-value">{{value.inspect}}</span>
      <span class='mixin__property-overridden-by'>(Overridden by {{overridden}})</span>
      <button class="mixin__send-btn" {{action sendToConsole model}}><img src="/images/send.png"></button>
    </li>
    {{else}}
    <li class="mixin__property">No Properties</li>
    {{/each}}
  </ul>
  {{/if}}
</div>
{{/each}}
