<h1 class="object-inspector__header">
  {{#if length}}

    {{#if isNested}}
      <button {{action popStack}} data-label="object-inspector-back" class="object-inspector__back object-inspector__back_state_enabled">◀ Back</button>
    {{else}}
      <span data-label="object-inspector-back" class="object-inspector__back object-inspector__back_state_disabled">◀ Back</span>
    {{/if}}

  {{/if}}
  <span data-label="object-name" class="object-inspector__name">{{firstObject.name}}</span>
</h1>
<h2 class="object-inspector__trail" data-label="object-trail">{{trail}}</h2>
<div class="object-inspector__mixins">
  {{render "mixinDetails"}}
</div>
