{{#if model.errors.length}}
<div class="mixin mixin_props_no js-object-inspector-errors">
  <h2 class="mixin__name mixin__name_errors">
    Errors
    <span {{action "traceErrors"}} class="send-trace-to-console js-send-errors-to-console">
      Trace in the console
    </span>
  </h2>
  <div class="mixin__properties">
  {{#each model.errors as |error|}}
    <div class="mixin__error js-object-inspector-error">
      Error while computing: {{error.property}}
    </div>
  {{/each}}
  </div>
</div>
{{/if}}
{{#each model.mixins itemController="mixinDetail" as |mixin|}}
<div {{bind-attr class=":mixin :js-object-detail mixin.type mixin.isExpanded:mixin_state_expanded mixin.properties.length:mixin_props_yes:mixin_props_no"}}>
  {{#if mixin.properties.length}}
    <h2 class="mixin__name js-object-detail-name" {{action "toggleExpanded" target="mixin"}}>{{mixin.name}}</h2>
  {{else}}
    <h2 class="mixin__name js-object-detail-name">{{mixin.name}}</h2>
  {{/if}}
  {{#if mixin.isExpanded}}
  <ul class="mixin__properties">
    {{#each mixin.properties itemController="mixinProperty" as |property|}}
    <li {{bind-attr class="property.overridden:mixin__property_state_overridden :mixin__property :js-object-property"}}>
      {{#if property.value.computed}}
        <button {{bind-attr class=":mixin__calc-btn property.isCalculated:mixin__calc-btn_calculated :js-calculate"}} {{action "calculate" property.model bubbles=false}}><img src="assets/images/calculate.svg"></button>
      {{else}}
        <span class='pad'></span>
      {{/if}}
      <span class='mixin__property-name js-object-property-name'>{{property.name}}</span><span class='mixin__property-value-separator'>: </span>
      {{#unless property.isEdit}}
        <span  {{action "valueClick" property.model}} {{bind-attr class="property.value.type :mixin__property-value :js-object-property-value"}}>{{property.value.inspect}}</span>
      {{else}}
        {{#unless property.isDate}}
          {{property-field value=property.txtValue finished-editing="finishedEditing" save-property="saveProperty"
           class="mixin__property-value-txt js-object-property-value-txt"}}
        {{else}}
          {{date-property-field value=property.dateValue format="YYYY-MM-DD" finished-editing="finishedEditing" save-property="saveProperty"
           class="mixin__property-value-txt js-object-property-value-date"}}
        {{/unless}}
      {{/unless}}
      <span class='mixin__property-overridden-by'>(Overridden by {{property.overridden}})</span>
      <button class="mixin__send-btn js-send-to-console-btn" {{action "sendToConsole" property.model}}><img src="assets/images/send.png" title="Send to console"></button>
    </li>
    {{else}}
      <li class="mixin__property">No Properties</li>
    {{/each}}
  </ul>
  {{/if}}
</div>
{{/each}}
