<nav class="nav nav--main">
  <ul>
    <li>
      {{#link-to "component-tree"}}
        {{svg-jar "nav-components" width="20px" height="20px"}}
        Components
      {{/link-to}}
    </li>
    <li>
      {{#link-to "view-tree"}}
        {{svg-jar "nav-view-tree" width="20px" height="20px"}}
        View Tree
      {{/link-to}}
    </li>
    <li>
      {{#link-to "route-tree"}}
        {{svg-jar "nav-route-tree" width="20px" height="20px"}}
        Routes
      {{/link-to}}
    </li>
    <li>
      {{#link-to "data"}}
        {{svg-jar "nav-data" width="20px" height="20px"}}
        Data
      {{/link-to}}
    </li>
    <li>
      {{#link-to "deprecations"}}
        {{svg-jar "nav-deprecations" width="20px" height="20px"}}
        Deprecations
        <span class="pill pill--not-clickable">{{deprecationCount}}</span>
      {{/link-to}}
    </li>
    <li>
      {{#link-to "info"}}
        {{svg-jar "nav-info" width="20px" height="20px"}}
        Info
      {{/link-to}}
    </li>
  </ul>
  <div class="nav__title"><h1>Advanced</h1></div>
  <ul>
    <li>
      {{#link-to "promise-tree"}}
        {{svg-jar "nav-promises" width="20px" height="20px"}}
        Promises
      {{/link-to}}
    </li>
    <li>
      {{#link-to "container-types"}}
        {{svg-jar "nav-container" width="20px" height="20px"}}
        Container
      {{/link-to}}
    </li>
    <li>
      {{#link-to "render-tree"}}
        {{svg-jar "nav-render-performance" width="20px" height="20px"}}
        Render Performance
      {{/link-to}}
    </li>
  </ul>
</nav>
