<div class="toolbar">
  {{clear-button action="clear" classNames="toolbar__icon-button" dataLabel="clear-promises-btn"}}

  <div class="toolbar__search" data-label="promise-search">
    {{input value=search placeholder="Search"}}
  </div>

  <button data-label="filter" {{bind-attr class="noFilter:active :toolbar__radio"}} {{action "setFilter" "all"}}>
    All
  </button>

  <div class="divider"></div>

  <button data-label="filter" {{bind-attr class="isRejectedFilter:active :toolbar__radio"}} {{action "setFilter" "rejected"}} >Rejected</button>
  <button data-label="filter" {{bind-attr class="isPendingFilter:active :toolbar__radio"}} {{action "setFilter" "pending"}} >Pending</button>
  <button data-label="filter" {{bind-attr class="isFulfilledFilter:active :toolbar__radio"}} {{action "setFilter" "fulfilled"}} >Fulfilled</button>
</div>