{{#if shouldRefresh}}
  <Ui::EmptyMessage class="js-page-refresh">
    <p>Reload the page to see promises created before you opened the inspector.</p>
    <button class="js-page-refresh-btn" {{action "refreshPage"}}>Reload</button>
  </Ui::EmptyMessage>
{{else}}
  <List
    class="js-promise-tree"
    @schema={{schema-for "promise-tree"}}
    @setIsDragging={{action "setIsDragging" target=this.application}} as |list|
  >
    {{#list.vertical-collection filtered as |content index|}}
      <tr class="list__row js-promise-tree-item {{if (mod index 2) "striped"}}">
        {{promise-item
          model=content
          filter=filter
          effectiveSearch=effectiveSearch
          toggleExpand=(action "toggleExpand")
          tracePromise=(action "tracePromise")
          inspectObject=(action "inspectObject")
          sendValueToConsole=(action "sendValueToConsole")
          list=list
        }}
      </tr>
    {{/list.vertical-collection}}
  </List>
{{/if}}
