{{#if this.shouldRefresh}}
  <Ui::EmptyMessage class="js-page-refresh">
    <p>Reload the page to see promises created before you opened the inspector.</p>
    <button class="js-page-refresh-btn" {{action "refreshPage"}} type="button">Reload</button>
  </Ui::EmptyMessage>
{{else}}
  <List
    class="js-promise-tree"
    @schema={{schema-for "promise-tree"}} as |list|
  >
    {{#list.vertical-collection this.filtered as |content index|}}
      <tr class="list__row js-promise-tree-item {{if (mod index 2) "striped"}}">
        <PromiseItem
          @model={{content}}
          @filter={{this.filter}}
          @effectiveSearch={{this.effectiveSearch}}
          @toggleExpand={{this.toggleExpand}}
          @tracePromise={{this.tracePromise}}
          @inspectObject={{this.inspectObject}}
          @sendValueToConsole={{this.sendValueToConsole}}
          @list={{list}}
        />
      </tr>
    {{/list.vertical-collection}}
  </List>
{{/if}}
