<div class="list-tree__item row" {{bind-attr style="nodeStyle"}}>
  <div class="cell_type_main cell " {{bind-attr style="labelStyle"}}>
    <div class="list-tree__limited list-tree__limited_helper_large">
      <span {{bindAttr title="label"}}>{{label}}</span>
    </div>
    <div class="list-tree__right-helper">
      <div class="send-trace-to-console" {{action "tracePromise" model}} title="Trace promise in console">
        Trace
      </div>
    </div>
  </div>
  <div class="cell cell_size_medium">
    <div class="pill pill_text_clear" {{bindAttr style="style"}}>{{state}}</div>
  </div>
  <div class="cell cell_size_large">
    {{#if hasValue}}
        <div class="list-tree__limited" {{bindAttr title="settledValue.inspect"}}>
          {{#if isValueInspectable}}

            <span class="cell_clickable" {{action "inspectObject" settledValue.objectId}}>{{settledValue.inspect}}</span>
          {{else}}
            {{settledValue.inspect}}
          {{/if}}
        </div>
        <div class="list-tree__right-helper">
          <button class="send-to-console" {{action "sendValueToConsole" model}} data-label="send-to-console-btn">
            <img src="../images/send.png" title="Send to console">
          </button>
        </div>
    {{else}}
    --
    {{/if}}
  </div>
  <div class="cell cell_size_medium cell_value_numeric">{{timeToSettle}}</div>
</div>
