<div class="toolbar">
  <Ui::ToolbarClearButton
    @action={{action send "clear"}}
    class="js-clear-promises-btn"
  />

  {{! if should refresh the refresh button will be in the middle of the of the tab }}
  {{#unless shouldRefresh}}
    <Ui::ToolbarDivider />
    <Ui::ToolbarReloadButton
      @action={{action send "refreshPage"}}
      class="js-toolbar-page-refresh-btn"
    />
  {{/unless}}

  <Ui::ToolbarDivider />

  <Ui::ToolbarSearchField
    @value={{this.searchValue}}
    class="js-promise-search"
  />

  <Ui::ToolbarDivider />

  <button
    class="{{if noFilter "active"}} toolbar__radio toolbar__radio--first js-filter"
    {{action "setFilter" "all"}}
  >
    All
  </button>

  <button
    class="{{if isRejectedFilter "active"}} toolbar__radio js-filter"
    {{action "setFilter" "rejected"}}
  >
    Rejected
  </button>
  <button
    class="{{if isPendingFilter "active"}} toolbar__radio js-filter"
    {{action "setFilter" "pending"}}
  >
    Pending
  </button>
  <button
    class="{{if isFulfilledFilter "active"}} toolbar__radio toolbar__radio--last js-filter"
    {{action "setFilter" "fulfilled"}}
  >
    Fulfilled
  </button>

  <Ui::ToolbarDivider />

  <div class="toolbar__checkbox js-with-stack">
    <label for="instrument-with-stack">
      <Input
        @type="checkbox"
        @checked={{this.instrumentWithStack}}
        @id="instrument-with-stack"
        @change={{action "updateInstrumentWithStack" (not this.instrumentWithStack)}}
      />
      Trace promises
    </label>

  </div>
</div>
