<div class="toolbar">
  {{clear-button action="clear" classNames="toolbar__icon-button" dataLabel="clear-promises-btn"}}

  <div class="toolbar__search" data-label="promise-search">
    {{input value=search placeholder="Search"}}
  </div>

  <button data-label="filter" class="{{if noFilter 'active'}} toolbar__radio" {{action "setFilter" "all"}}>
    All
  </button>

  <div class="divider"></div>

  <button data-label="filter" class="{{if isRejectedFilter 'active'}} toolbar__radio" {{action "setFilter" "rejected"}} >Rejected</button>
  <button data-label="filter" class="{{if isPendingFilter 'active'}} toolbar__radio" {{action "setFilter" "pending"}} >Pending</button>
  <button data-label="filter" class="{{if isFulfilledFilter 'active'}} toolbar__radio" {{action "setFilter" "fulfilled"}} >Fulfilled</button>

  <div class="divider"></div>

  <div class="toolbar__checkbox" data-label="with-stack">
    {{action-checkbox on-update="updateInstrumentWithStack" checked=instrumentWithStack id="instrument-with-stack"}} <label for="instrument-with-stack">Trace promises</label>
  </div>


  {{! if should refresh the refresh button will be in the middle of the of the tab }}
  {{#unless shouldRefresh}}
    <div class="divider"></div>
    <button data-label="toolbar-page-refresh-btn" {{action "refreshPage"}}>Reload</button>
  {{/unless}}

</div>
