<div class="table-tree table-tree_type_advanced">
  <div class="table-tree__table-container">
    <table cellspacing="0" border-collapse="collapse">
      <thead>
        <tr>
          {{#each columns}}
            <th><div class="table-tree__th-inner">{{name}}</div></th>
          {{/each}}
        </tr>
      </thead>
      <tbody>
        {{#each filtered itemController="record"}}
          <tr data-label="record-row" {{action "inspectModel" model}}>
            {{#each columns}}
            <td data-label="record-column" class="table-tree__clickable" {{bindAttr style="controller.style"}}  >
              {{value}}
            </td>
            {{/each}}
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>

  <div class="table-tree__filter">
    <div class="filter-bar">
      <div class="filter-bar__search">
        {{input value=search placeholder="Search"}}
      </div>
      {{#each filters itemController="recordFilter"}}
        <div class="filter-bar__checkbox">{{input type="checkbox" checked=checked}}
        <label {{bindAttr style="labelStyle"}} {{action "toggleCheck"}}>{{desc}}</label></div>
      {{/each}}
    </div>
  </div>

</div>
