<div class="toolbar">
  <div class="toolbar__search" data-label="records-search">
    {{input value=search placeholder="Search"}}
  </div>

  <button data-label="filter" class="{{if noFilterValue 'active' ''}} toolbar__radio" {{action "setFilter"}}>
    All
  </button>

  <div class="divider"></div>

  {{#each filters as |filter|}}
    <button data-label="filter" class="{{if filter.checked 'active' ''}} toolbar__radio" {{action "setFilter" filter.name}} >
      {{filter.desc}}
    </button>
  {{/each}}
</div>
