<div class="toolbar">
  <Ui::ToolbarSearchField
    @value={{this.searchValue}}
    class="js-records-search"
  />

  <Ui::ToolbarDivider />

  <button
    class="{{if (is-empty this.filterValue) "active"}} toolbar__radio js-filter"
    {{on "click" (fn this.setFilter "")}}
  >
    All
  </button>

  {{#each this.filters as |filter|}}
    <button
      class="{{if (eq this.filterValue filter.name) "active"}} toolbar__radio js-filter"
      {{on "click" (fn this.setFilter filter.name)}}
    >
      {{filter.desc}}
    </button>
  {{/each}}
</div>
