{{#unless this.isWarningClosed}}
  <WarningMessage @close={{this.closeWarning}}>
    Render times may be inaccurate due to instrumentation and environment
  </WarningMessage>
{{/unless}}

{{#if this.showEmpty}}
  <Ui::EmptyMessage class="js-render-tree-empty">
    <p>No rendering metrics have been collected. Try reloading or navigating around your application.</p>
    <p><strong>Note:</strong> Very fast rendering times (&lt;1ms) are excluded.</p>
    <button class="js-toolbar-page-refresh-btn" {{action "refreshPage"}}>Reload</button>
  </Ui::EmptyMessage>
{{else}}
  <List
    class="js-render-tree list--css-striping"
    @headerHeight={{this.headerHeight}}
    @schema={{schema-for "render-tree"}}
    @setIsDragging={{action "setIsDragging" target=this.application}} as |list|
  >
    <tbody>
      {{#each this.filtered as |item|}}
        <RenderItem
          @model={{item}}
          @search={{this.search}}
          @list={{list}}
        />
      {{/each}}
    </tbody>
  </List>
{{/if}}
