<div class="toolbar">
  {{clear-button action="clearProfiles" classNames="toolbar__icon-button"}}

  {{#unless showEmpty}}
    <div class="divider" aria-hidden="true"></div>
    {{reload-button action="refreshPage" classNames="toolbar__icon-button js-toolbar-page-refresh-btn"}}
  {{/unless}}

  <div class="divider" aria-hidden="true"></div>

  <div class="toolbar__search js-render-profiles-search">
    {{input value=searchField placeholder="Search"}}
    {{#if searchField}}
      <button {{action "clearSearchField"}} class="toolbar__icon-button toolbar__search-clear-button" title="clear">
        {{icon-input-clear}}
      </button>
    {{/if}}
  </div>
</div>
