<div class="list-tree__item-wrapper row-wrapper js-render-profile-row">
  <div {{bind-attr style="nodeStyle" class=":list-tree__item :row expandedClass :js-render-profile-item"}}>
    <div class="cell_type_main cell js-render-main-cell" {{action "toggleExpand"}} {{bind-attr style="nameStyle"}}>

      <span {{bind-attr title="name"}}>
        <span class="cell__arrow"></span>
        <span class="js-render-profile-name">{{name}}</span>
        <span class="pill pill_not-clickable js-render-profile-duration">{{ms-to-time duration}}</span>
      </span>
    </div>
    <div class="cell cell_value_numeric js-render-profile-timestamp">
      {{readableTime}}
    </div>
  </div>
</div>
{{#if isExpanded}}
  {{#each children as |child|}}
    {{render "render_item" child}}
  {{/each}}
{{/if}}
