{{#unless isWarningClosed}}
  <WarningMessage @close={{action "closeWarning"}}>
    Render times may be inaccurate due to instrumentation and environment
  </WarningMessage>
{{/unless}}

{{#if showEmpty}}
  <Ui::EmptyMessage class="js-render-tree-empty">
    <p>No rendering metrics have been collected. Try reloading or navigating around your application.</p>
    <p><strong>Note:</strong> Very fast rendering times (&lt;1ms) are excluded.</p>
    <button class="js-toolbar-page-refresh-btn" {{action "refreshPage"}}>Reload</button>
  </Ui::EmptyMessage>
{{else}}
  <List
    class="js-render-tree"
    @headerHeight={{this.headerHeight}}
    @schema={{schema-for "render-tree"}}
    @setIsDragging={{action "setIsDragging" target=this.application}} as |list|
  >
    <tbody>
      {{#each filtered as |item|}}
        {{render-item model=item search=search list=list}}
      {{/each}}
    </tbody>
  </List>
{{/if}}
