{{#route-item model=this currentRoute=view.currentRoute as |item|}}
  <div class="cell_type_main cell" data-label="route-name">
    <div style="{{item.labelStyle}}">
      <span title="{{unbound value.name}}" data-label="view-name">{{value.name}}</span>
    </div>
  </div>
  <div class="cell">
    <div class="list-tree__limited cell_clickable" {{action "inspectRoute" value.routeHandler.name}} data-label="route-handler">
      <span title="{{unbound value.routeHandler.className}}">{{value.routeHandler.className}}</span>
    </div>
    <div class="list-tree__right-helper">
      {{send-to-console action="sendRouteHandlerToConsole" param=value.routeHandler.name}}
    </div>
  </div>
  <div class="cell">
    {{#if value.controller.exists}}
      <div class="list-tree__limited cell_clickable" {{action "inspectController" value.controller}} data-label="route-controller">
        <span title="{{unbound value.controller.className}}">{{value.controller.className}}</span>
      </div>
      <div class="list-tree__right-helper">
        {{send-to-console action="sendControllerToConsole" param=value.controller.name}}
      </div>

    {{else}}
      <div data-label="route-controller">
        <span title="{{unbound value.controller.className}}">{{value.controller.className}}</span>
      </div>
    {{/if}}
  </div>
  <div class="cell" data-label="route-template">
    <span title="{{unbound value.template.name}}">{{value.template.name}}</span>
  </div>
  <div class="cell cell_size_large" data-label="route-url">
    <span title="{{unbound value.url}}">{{value.url}}</span>
  </div>
{{/route-item}}
