<ul class="tree__node" data-label="tree-node">
  {{#each children itemController="routeNode"}}
    <li class="tree__node-child" data-label="tree-view">
      <p class="tree__node-header">
        <span class="tree__node-name" {{action "showDetails"}} >{{value.name}}</span>

          <span class="tree__node-hint">

          </span>

          {{#if withDetails}}
          <div class="tree__node-details">
            <table>
              <tr>
                <th>Route</th>
                <th>Controller</th>
                <th>Template</th>
                <th>URL</th>
              </tr>
              <tr>
                <td class="clickable" {{action "inspectRoute" details.routeHandler.name}}>{{details.routeHandler.className}}</td>
                <td {{bindAttr class="controllerExists:clickable"}} {{action "inspectController" details.controller}}>{{controllerName}}</td>
                <td>{{details.template.name}}</td>
                <td>
                  {{#if value.url}}
                    {{value.url}}
                  {{else}}
                    ---
                  {{/if}}
                </td>
              </tr>
            </table>
          </div>
          {{/if}}

      </p>
      {{#if hasChildren}}
        {{view EmberExtension.RouteNodeView}}
      {{/if}}
    </li>
  {{/each}}
</ul>
