<div {{bind-attr class=":list-tree__item :row isCurrent:row_highlight"}} >
  <div class="cell_type_main cell" >
    <div {{bind-attr style="labelStyle"}}>
      <span {{bind-attr title="value.name"}} data-label="view-name">{{unbound value.name}}</span>
    </div>
  </div>

  <div {{bind-attr class=":cell hasElement:cell_clickable"}} {{action "inspectElement"}} data-label="view-template">{{unbound value.template}}</div>
  <div {{bind-attr class=":cell"}} data-label="view-model">
    {{#if hasModel}}
      <div {{bind-attr class=":list-tree__limited modelInspectable:cell_clickable"}} {{action "inspectModel" value.model.objectId}}>
        {{unbound value.model.name}}
      </div>
      <div class="list-tree__right-helper">
        {{send-to-console action="sendModelToConsole" param=value.objectId}}
      </div>
    {{else}}
      --
    {{/if}}
  </div>
  <div {{bind-attr class=":cell"}} data-label="view-controller">
    {{#if hasController}}
      <div {{bind-attr class=":list-tree__limited hasController:cell_clickable"}} {{action "inspect" value.controller.objectId}} >
        {{unbound value.controller.name}}
      </div>
      <div class="list-tree__right-helper">
        {{send-to-console action="sendObjectToConsole" param=value.controller.objectId}}
      </div>
    {{/if}}
  </div>
  <div {{bind-attr class=":cell"}} data-label="view-class">
    {{#if hasView}}
      <div {{bind-attr class=":list-tree__limited hasView:cell_clickable"}} {{action "inspectView"}} >
        {{unbound value.viewClass}}
      </div>
      <div class="list-tree__right-helper">
        {{send-to-console action="sendObjectToConsole" param=value.objectId}}
      </div>
    {{else}}
      --
    {{/if}}
  </div>

  <div class="cell cell_size_small cell_value_numeric" >
    <span class="pill pill_not-clickable pill_size_small" data-label="view-duration">{{ms-to-time value.duration}}</span>
  </div>
</div>
