{{#with view.content as |content|}}
  {{#view-item model=content inspect="inspect" pinnedObjectId=view.pinnedObjectId inspectElement="inspectElement" as |item|}}
    <div class="cell_type_main cell" >
      <div style="{{item.labelStyle}}">
        <span title="{{content.value.name}}" data-label="view-name">{{unbound content.value.name}}</span>
      </div>
    </div>

    <div class="cell {{if item.hasElement 'cell_clickable'}}" {{action "inspectElement" target=item}} data-label="view-template">
      <span title="{{unbound content.value.template}}">{{unbound content.value.template}}</span>
    </div>
    <div class="cell" data-label="view-model">
      {{#if item.hasModel}}
        <div class="list-tree__limited {{if item.modelInspectable 'cell_clickable'}}" {{action "inspectModel" content.value.model.objectId target=item}} data-label="view-model-clickable">
          <span title="{{unbound content.value.model.completeName}}">{{unbound content.value.model.name}}</span>
        </div>
        <div class="list-tree__right-helper">
          {{send-to-console action="sendModelToConsole" param=content.value}}
        </div>
      {{else}}
        --
      {{/if}}
    </div>
    <div class="cell" data-label="view-controller">
      {{#if item.hasController}}
        <div class="list-tree__limited {{if item.hasController 'cell_clickable'}}" {{action "inspect" content.value.controller.objectId}} >
          <span title="{{unbound content.value.controller.completeName}}">{{unbound content.value.controller.name}}</span>
        </div>
        <div class="list-tree__right-helper">
          {{send-to-console action="sendObjectToConsole" param=content.value.controller.objectId}}
        </div>
      {{/if}}
    </div>
    <div class="cell" data-label="view-class">
      {{#if item.hasView}}
        <div class="list-tree__limited {{if item.hasView 'cell_clickable'}}" {{action "inspectView" target=item}} >
          <span title="{{unbound content.value.completeViewClass}}">{{unbound content.value.viewClass}}</span>
        </div>
        <div class="list-tree__right-helper">
          {{send-to-console action="sendObjectToConsole" param=content.value.objectId}}
        </div>
      {{else}}
        --
      {{/if}}
    </div>

    <div class="cell cell_size_small cell_value_numeric" >
      <span class="pill pill_not-clickable pill_size_small" data-label="view-duration">{{ms-to-time content.value.duration}}</span>
    </div>
    {{/view-item}}
{{/with}}
