<li class="mixin__property-dependency-list relative">
  {{svg-jar "dependent-key-connection" width="20px" height="10px"}}
  <ul class="m-0 p-0 list-none">
    {{#each @keys as |depKey|}}
      <li class="mixin__property-dependency-item relative text-base12 text-sm">
      {{#if (match depKey "•")}}
        <span
          class="mixin__property-dependency-name subkey"
          data-label="object-property-name"
        >
          {{depKey}}
        </span>
      {{else}}
        {{svg-jar
          "dependent-key-bullet"
          width="9px"
          height="9px"
        }}
        <span
          class="mixin__property-dependency-name"
          data-label="object-property-name"
        >
          {{depKey}}
        </span>
      {{/if}}
      </li>
    {{/each}}
  </ul>
</li>

