<li
  class="{{if this.isOverridden "mixin__property_state_overridden"}} mixin__property js-object-property"
>
  {{!-- Disclosure Triangle --}}
  {{#if this.hasDependentKeys}}
    <button
      class="mixin__cp-toggle {{if this.showDependentKeys "mixin__cp-toggle--expanded"}}"
      {{on "click" this.toggleDeps}}
    >
      {{svg-jar
        "disclosure-triangle"
        title="Toggle dependent keys"
        width="9px"
        height="9px"
      }}
    </button>
  {{else}}
    <span class="pad"></span>
  {{/if}}

  {{!-- Property Icon --}}
  <span class="mixin__property-icon-container" title={{if @model.code @model.code this.iconInfo.title}}
    {{on "click" this.toggleDeps}}
  >
    <span class="mixin__property-icon mixin__property-icon--{{this.iconInfo.type}}"></span>
  </span>

  {{!-- Property Name --}}
  <span class="mixin__property-name js-object-property-name">
    {{#if this.isService}}
      <span
        title="service"
        class="js-property-name-service mixin__property--group"
      >
        {{@model.name}}
      </span>
    {{else}}
      {{#if this.hasDependentKeys}}
        <span
          title="computed"
          class="js-property-name-computed mixin__property--group"
        >
          {{@model.name}}
        </span>
      {{else}}
        {{@model.name}}
      {{/if}}
    {{/if}}
  </span>

  <span class="mixin__property-value-separator">: </span>

  {{#if this.isEdit}}
    {{#if this.isDate}}
      {{date-property-field
        allowInput=true
        date=(readonly this.dateValue)
        dateFormat="Y-m-d"
        class="mixin__property-value-txt js-object-property-value-date"
        onChange=this.dateSelected
        onClose=this.finishedEditing
      }}
    {{else}}
      <ObjectInspector::PropertyField
        class="mixin__property-value-txt js-object-property-value-txt"
        @value={{this.txtValue}}
        @insert-newline={{fn this.save}}
        @escape-press={{fn this.finishedEditing}}
        @focus-out={{fn this.finishedEditing}}
      />
    {{/if}}
  {{else}}
    {{#if this.canCalculate}}
      <button
        class="mixin__calc-btn js-calculate"
        title="compute property"
        {{on "click" @calculate bubbles=false}}
      >
        {{svg-jar "calculate" width="16px" height="16px"}}
      </button>
    {{/if}}
    {{#if this.isDate}}
      <span
        class="{{this.valueType}} mixin__property-value js-object-property-value"
        {{on "click" this.dateClick}}
      >
        {{@model.value.inspect}}
      </span>
    {{else}}
      <span
        class="{{this.valueType}} {{if this.isService "type-service"}} mixin__property-value js-object-property-value"
        {{on "click" this.valueClick}}
      >
        {{@model.value.inspect}}
      </span>
    {{/if}}
  {{/if}}

  <span class="mixin__property-overridden-by">(Overridden by {{@model.overridden}})</span>

  <button
    class="mixin__send-btn send-to-console js-send-to-console-btn"
    title="Send to console"
    {{on "click" @sendToConsole}}
  >
    {{svg-jar "send-with-text" width="20px" height="10px"}}
  </button>
</li>

{{#if this.showDependentKeys}}
  <ObjectInspector::DependentKeys @keys={{@model.dependentKeys}} />
{{/if}}

